@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: normal;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --font-header-footer: #2f303a;
  --white-color-text: #ffffff;
  --accent-color: #2196f3;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

ul,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--animation);
  z-index: 2;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  transition: transform var(--animation);
  z-index: 3;
  padding: 40px;
}

.backdrop__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  padding-bottom: 12px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation);
}

.form {
  width: 100%;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  /* &-input:focus + &-label,
&-input:not(:placeholder-shown) + &-label {
  transform: translateY(-50px);
}
&-field:placeholder-shown {
  background-color: tomato;
} 
відїзджає label при фокусі inputа */
  /* &-input:hover, */
}

.form__close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0; */
  color: #000000;
  transition: color var(--animation);
}

.form__close:hover, .form__close:focus {
  fill: var(--accent-color);
}

.form__iconclose {
  fill: currentColor;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 4px;
}

.form__input {
  margin: 0;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 40px;
  display: flex;
  cursor: pointer;
  height: 40px;
  outline: none;
}

.form__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__input:focus {
  border-color: var(--accent-color);
  color: #2f303a;
}

.form__icon + .form__iconname {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 12px;
  cursor: pointer;
}

.form__field:focus-within > .form__icon + .form__iconname {
  color: var(--accent-color);
  fill: var(--accent-color);
  transition: var(--animation);
}

.form__comment {
  display: flex;
}

.form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__agreement {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.form a {
  color: var(--accent-color);
  text-decoration-line: underline;
  margin-left: 14px;
}

.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form__checkicon {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  margin-right: 8px;
}

.form__checkbox:checked + .form__checkicon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/iconcheck.svg);
  background-size: contain;
  background-origin: content-box;
}

.form__button {
  color: var(--white-color-text);
  background-color: var(--accent-color);
  margin: 0 auto;
  display: block;
  font-family: "Roboto";
  padding: 10px 55px;
  border-radius: 4px;
  min-width: 200px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--animation), color var(--animation);
  margin-top: 30px;
}

.form__button:hover, .form__button:focus {
  background-color: var(--accent-color);
  color: var(--accent-color);
}

.site-contact {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  margin-left: auto;
}

.site-contact :hover,
.site-contact :focus {
  color: var(--accent-color);
  outline: 0;
  outline-offset: 0;
  transition: color var(--animation);
}

.site-contact .site-contact__item + .site-contact__item {
  margin-left: 50px;
  display: block;
}

.site-contact__link {
  display: flex;
  align-items: center;
  transition: color var(--animation);
}

.site-contact__link:hover, .site-contact__link:focus {
  color: var(--accent-color);
  transition: color var(--animation);
}

.site-contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.offer {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header.jpg");
}

.offer__title {
  color: var(--white-color-text);
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
}

.offer .container::before {
  display: block;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.offer__button {
  color: var(--white-color-text);
  background-color: var(--accent-color);
  margin: 0 auto;
  display: block;
  font-family: "Roboto";
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--animation), color var(--animation);
}

.offer__button:hover, .offer__button:focus {
  background-color: var(--white-color-text);
  color: var(--accent-color);
}

.header-pages {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 480px) {
  .header-pages__siteheader {
    position: relative;
  }
}

.header-pages__display {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .header-pages__logo {
    padding: 16px 0;
  }
}

.header-pages__logo:hover, .header-pages__logo:focus, .header-pages__logo:active {
  color: var(--accent-color);
  outline: 0;
  outline-offset: 0;
  text-decoration: none;
  transition: color var(--animation);
}

.header-pages__logoblu {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  transition: color var(--animation);
}

@media screen and (min-width: 480px) {
  .header-pages__logoblu {
    font-size: 24px;
    line-height: 1.16;
  }
}

.header-pages__logoblack {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

@media screen and (min-width: 480px) {
  .header-pages__logoblack {
    font-size: 24px;
    line-height: 1.16;
  }
}

.header-pages__logowhite {
  color: var(--white-color-text);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  transition: color var(--animation);
}

@media screen and (min-width: 480px) {
  .header-pages__logowhite {
    font-size: 24px;
    line-height: 1.16;
  }
}

.header-pages__button {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

.header-pages__button .header-pages__menu-close {
  display: none;
}

.header-pages__button.is-open .header-pages__menu-close {
  display: block;
}

.header-pages__button.is-open .header-pages__menu-open {
  display: none;
}
/*# sourceMappingURL=main.css.map */