.client__h2 {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.client {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.client__list {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 4 * 15px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 12 * 15px) / 6);
  }
}
.client__link {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  outline: none;
  transition: fill var(--animation), border-color var(--animation);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
