// .site-contact {
//   // в медіа для мобільних екранів
//   color: var(--secondary-text-color);
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   text-decoration: none;
//   @media screen and (min-width: 768px) {
//     // display: flex;
//     flex-direction: column-reverse;
//     margin-left: auto;
//   }
//   @media screen and (min-width: 1200px) {
//     display: flex;
//   }
//   & :hover,
// /*подсветка при наведении*/
// & :focus {
//     color: var(--accent-color);
//     outline: 0;
//     outline-offset: 0;
//     transition: color var(--animation);

//     @media screen and (max-width: 767px) {
//       margin-bottom: 64px;
//     }

//     @media screen and (min-width: 768px) {
//       // display: flex;
//       // flex-direction: row-reverse;
//       margin-left: auto;
//     }

//     @media screen and (min-width: 1200px) {
//       // flex-direction: row-reverse;
//     }
//   }
//   // .site-contact__item + .site-contact__item {
//   //   display: block;

//   //   @media screen and (min-width: 1200px) {
//   //     margin-left: 50px;
//   //   }
//   // }
//   &__item {
//     position: relative;
//     @media screen and (max-width: 767px) {
//       // flex-direction: column-reverse;
//     }
//     &:not(:last-child) {
//       @media screen and (max-width: 767px) {
//         margin-bottom: 32px;
//       }
//       @media screen and (min-width: 768px) {
//         // display: flex;
//         margin-bottom: 10px;
//       }
//       // @media screen and (min-width: 1199px) {
//       //   margin-left: 30px;
//       // }
//     }
//   }
//   &__link {
//     font-weight: 500;
//     letter-spacing: 0.02em;
//     color: var(--secondary-text-color);
//     // display: flex;
//     // align-items: center;
//     transition: color var(--animation);
//     &:hover,
//     &:focus {
//       color: var(--accent-color);
//       transition: color var(--animation);
//     }

//     @media screen and (max-width: 767px) {
//       position: relative;
//       display: block;
//       font-size: 40px;
//       line-height: 1.17;
//     }

//     @media screen and (min-width: 768px) {
//       font-size: 14px;
//       line-height: 1.14;
//       // padding-top: 32px;
//       // padding-bottom: 32px;
//       // display: inline-flex;
//       transition: color var(--animation), outline-color var(--animation);
//     }
//     &--tel {
//       @media screen and (max-width: 767px) {
//         font-size: 34px;
//         line-height: 1.18;
//         letter-spacing: 0.02em;
//         color: var(--accent-color);
//         margin-bottom: 10px;
//       }
//     }
//   }
//   &--mail {
//     @media screen and (max-width: 767px) {
//       font-size: 24px;
//       line-height: 1.17;
//       color: var(--secondary-text-color);
//     }
//   }

//   &__icon {
//     fill: currentColor;

//     @media screen and (max-width: 767px) {
//       display: none;
//     }

//     @media screen and (min-width: 768px) {
//       margin-right: 8px;
//     }

//     @media screen and (min-width: 1200px) {
//       margin-right: 10px;
//     }
//   }
// }

.site-contact {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row-reverse;
  }
}
.site-contact__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }

    @media screen and (min-width: 1199px) {
      margin-left: 30px;
    }
  }

  &:last-child {
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }

    @media screen and (min-width: 1199px) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1199px) {
    display: flex;
    align-items: center;
  }
}
.site-contact__link {
  font-weight: 500;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    color: #757575;
    display: flex;
    align-items: center;
    transition: color var(--accent-color), outline-color var(--accent-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
      outline-color: var(--accent-color);
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}
.site-contact__link--tel {
  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
.site-contact__link--mail {
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.17;
    color: var(--secondary-text-color);
  }
}
.site-contact__icon {
  fill: currentColor;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
