.site-contact {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  & :hover,
/*подсветка при наведении*/
& :focus {
    color: var(--accent-color);
    outline: 0;
    outline-offset: 0;
    transition: color var(--animation);
  }
  .site-contact__item + .site-contact__item {
    display: block;

    @media screen and (min-width: 1200px) {
      margin-left: 50px;
    }
  }
  &__link {
    // display: flex;
    // align-items: center;
    transition: color var(--animation);
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
    transition: color var(--animation);
  }
  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
