.footer {
  background-color: #2f303a;
  font-style: normal;
  display: block;

  &__padding {
    // padding-top: 60px;
    padding-bottom: 60px;
    display: flex;

    // justify-content: space-between;
    // flex-wrap: wrap;
    align-items: center;

    @media screen and (max-width: 1199px) {
      flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
    }
  }
  &__itemtop {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
  &__link {
    font-style: normal;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__address {
    // font-style: normal;
    // text-align: center;
    margin-top: 20px;
  }

  &__contact {
    // font-size: 14px;
    // line-height: 1.71;
    // text-decoration: none;
    // /* margin-bottom: 9px; */
    // transition: color var(--animation);

    font-size: 14px;
    line-height: 1.7;
    display: block;
    outline: none;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--accent-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }
  &__contact--white {
    color: var(--white-color-text);
    // margin-right: 70px;
  }
  &__contact:hover,
  &__contact:focus {
    color: var(--accent-color);
  }
  &__address:hover,
  &__address:focus {
    color: var(--accent-color);
  }
}

// .footer {
//   background-color: var(--font-header-footer);
//   padding-bottom: 60px;
// }

.footer__box {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
.footer__box--logo {
  display: flex;
  padding-top: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
