.foto {
  display: flex;
  justify-content: space-between;

  &__h2 {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
  &__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__list {
    width: 370px;
    margin-right: 30px;
    position: relative;
    @media screen and (min-width: 480px) {
    }
  }
  &__nopadding {
    padding-top: 0px;
    display: flex;

    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
}
