.network {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  display: flex;
  //   flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // padding-top: 64px;

  &__item {
    color: var(--accent-color);
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    &:not(:last-child) {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}
