.network {
  // font-weight: 500;
  // font-size: 18px;
  // line-height: 1.22px;
  // letter-spacing: 0.02em;
  // color: var(--accent-color);
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  // padding-top: 64px;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__item {
    height: 100%;
    position: relative;
    color: var(--accent-color);

    &:not(:last-child) {
      margin-right: 20px;
    }
    &:not(:last-child)::after {
      position: absolute;
      content: "";

      right: -10px;
      bottom: 0;
      height: 22px;
      width: 1px;
      display: block;
      background-color: rgba(33, 33, 33, 0.2);
    }
  }
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
