.network {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  display: flex;
  //   flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  &__item {
    color: var(--accent-color);
  }
}
