.header-pages {
  border-bottom: 1px solid #ececec;
  position: relative;

  &__display {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    // padding: 16px 0;
    cursor: pointer;
    @media screen and (min-width: 480px) {
    }
  }
  &__logo:hover,
  &__logo:focus,
  &__logo:active {
    color: var(--accent-color);
    outline: 0;
    outline-offset: 0;
    text-decoration: none;
    transition: color var(--animation);
  }
  &__logoblu {
    color: var(--accent-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    transition: color var(--animation);
    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
    }
  }
  &__logoblack {
    color: #000000;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    cursor: pointer;
    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
    }
  }
  &__logowhite {
    color: var(--white-color-text);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    transition: color var(--animation);
    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
    }
  }
  &__button {
    display: inline-flex;
    position: fixed;
    z-index: 10;
    top: 10px;
    right: 15px;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    transition: fill var(--animation);
    @media screen and (min-width: 768px) {
      display: none;
    }
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }

    // додати медіа для табл щоб заховати елемент
  }
  &__button &__menu-close {
    display: none;
  }
  &__button.is-open &__menu-close {
    display: block;
  }
  &__button.is-open &__menu-open {
    display: none;
  }
  &__button.is-open &__button-icon {
    // position: fixed;
    top: 10px;
    left: 15px;
    z-index: 10;
  }
}
