.project {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -8px;
    margin-left: -8px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  &__item {
    margin-top: 8px;
    margin-left: 8px;
  }

  &__filter {
    color: var(--primary-text-color);
    background-color: #f5f4fa;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    // margin-right: 8px;
    padding: 6px 22px;
    transition: color var(--animation), background-color var(--animation),
      box-shadow var(--animation);

    &:hover,
    &:focus {
      color: var(--white-color-text);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }
  }
}
