.social {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 32px;
  margin-bottom: 30px;

  &__item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    // display: flex;
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;

    border-radius: 22px;
    fill: #afb1b8;
    transition: fill var(--animation), background-color var(--animation);
    background: rgba(255, 255, 255, 0.1);
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--accent-color);
    transition: color var(--animation);
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: #fff;
  }
}
