.footer-social {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }

  & :nth-last-child() {
    margin-right: 0;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: #fff;
    display: flex;
  }
  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    fill: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: background-color var(--animation);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--accent-color);
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--white-color-text);
  }
}

.footer-social__box {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 165px;
    padding-top: 65px;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    padding-top: 72px;
  }
}
