.footer-subscribe {
  margin: 0;
  padding: 0;
  position: relative;
  margin-left: 93px;

  &__form {
    display: flex;
    width: 100%;
    padding-top: 20px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.01em;
  }

  &__field {
    position: relative;
    display: flex;
    border-radius: 4px;
  }

  &__button {
    color: var(--white-color-text);
    background-color: var(--accent-color);
    font-family: "Roboto";
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 12px;
    // display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    border-radius: 4px;
    min-width: 200px;
    border: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color var(--animation), color var(--animation);
  }

  &__button:hover,
  &__button:focus {
    color: var(--accent-color);
    background-color: var(--white-color-text);
    transition: color var(--animation);
  }

  &__button:hover .footer-subscribe__icon,
  &__button:focus .footer-subscribe__icon {
    fill: var(--accent-color);
    transition: color var(--animation);
  }

  &__icon {
    padding: 0;
    cursor: pointer;
    fill: currentColor;
    margin-left: 10px;
  }

  &__title {
    position: relative;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    display: flex;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white-color-text);
    text-transform: uppercase;
    margin-top: 10px;
  }

  &__input {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    background-color: transparent;
    /* margin-right: 12px; */
    outline: none;
    color: #ffffff;
    transition: border-color var(--animation);
  }

  &__icon {
    top: 25%;
    left: 80%;
    cursor: pointer;
    fill: var(--white-color-text);
  }

  &__input {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
  }

  &__input:focus {
    /* .form-input-subscribe:hover  */
    border-color: var(--accent-color);

    color: var(--white-color-text);
  }

  &__input::placeholder {
    color: rgba(117, 117, 117, 0.5);
    margin: 0;
    padding: 0;
  }
}
