.form {
  width: 100%;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #000000;
    transition: color var(--animation);
  }

  &__close:hover,
  &__close:focus {
    fill: var(--accent-color);
  }

  &__iconclose {
    fill: currentColor;
  }

  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 4px;
  }
  &__input {
    margin: 0;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 40px;
    display: flex;
    cursor: pointer;
    height: 40px;
    outline: none;
  }
  &__input::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &__input:focus {
    border-color: var(--accent-color);
    color: #2f303a;
  }
  /* &-input:focus + &-label,
&-input:not(:placeholder-shown) + &-label {
  transform: translateY(-50px);
}
&-field:placeholder-shown {
  background-color: tomato;
} 
відїзджає label при фокусі inputа */

  /* &-input:hover, */
  &__icon + &__iconname {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 12px;
    cursor: pointer;
  }
  &__field:focus-within > &__icon + &__iconname {
    color: var(--accent-color);
    fill: var(--accent-color);
    transition: var(--animation);
  }
  &__comment {
    display: flex;
  }
  &__textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
  }
  &__textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &__agreement {
    letter-spacing: 0.03em;
    line-height: 1.71;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  a {
    color: var(--accent-color);
    text-decoration-line: underline;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.7;
    }
  }
  &__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
  }
  &__checkicon {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 4px;
    margin-right: 8px;
  }
  &__checkbox:checked + &__checkicon {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url(../images/iconcheck.svg);
    background-size: contain;
    background-origin: content-box;
  }
  &__button {
    color: var(--white-color-text);
    background-color: var(--accent-color);
    margin: 0 auto;
    display: block;
    font-family: "Roboto";
    padding: 10px 55px;
    border-radius: 4px;
    min-width: 200px;
    border: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color var(--animation), color var(--animation);
    margin-top: 30px;
  }
  &__button:hover,
  &__button:focus {
    background-color: var(--accent-color);
    color: var(--accent-color);
  }
}
.form__policy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-left: 8px;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.7;
  }
}
