.site-nav {
  // display: flex;
  // flex-direction: column;
  // position: fixed;
  // padding: 20px;
  // // text-align: center;
  // font-size: 20px;
  // top: 0;
  // left: 0;
  // width: 100vw;
  // height: 100vh;

  // // margin-bottom: 32px;
  // background-color: #fff;
  // z-index: 1;
  // transform: translateY(-100%);
  // &.is-open {
  //   transform: translateY(0);
  // }
  width: 100%;

  @media screen and (max-width: 767px) {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
  }

  &.is-open {
    display: flex;
    z-index: 2;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  &__list {
    color: var(--primary-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;

    @media screen and (max-width: 767px) {
      position: relative;
      display: block;
      font-size: 40px;
      line-height: 1.17;
    }

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.14;
      padding-top: 32px;
      padding-bottom: 32px;
      display: inline-flex;
      transition: color var(--animation), outline-color var(--animation);
    }

    &:hover,
    &:focus {
      color: var(--accent-color);
      outline-color: var(--accent-color);
    }
  }

  // додати в медіа від таблетки стилі флекс і т.д.

  &__textblack {
    // в медіа для мобільних екранів

    color: var(--primary-text-color);
  }
  &__linelink {
    color: var(--accent-color);
  }
  &__linelink::after {
    @media screen and (min-width: 768px) {
      position: absolute;
      margin-bottom: -30px;
      left: 0;
      bottom: -1px;
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      transition: color var(--animation);
      background-color: var(--accent-color);
    }
  }
  &__item {
    position: relative;

    &:hover,
    &:focus {
      color: var(accent-color);
      outline: 0;
      outline-offset: 0;
      text-decoration: none;
      transition: color var(--animation);
    }
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 32px;
      }

      @media screen and (min-width: 768px) {
        margin-right: 50px;
      }
    }
  }
}
.site-nav__box {
  @media screen and (min-width: 768px) {
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
